*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #fff;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #ccc;
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}
.a-white{
  color:white;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.black-body {
  background-color: rgba(31, 46, 53, 1);
  color: white;
}