.content__list {
    display: flex;
    @include reset-list;
    align-items: baseline;
}

.content__buttons {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.content__first-button,
.content__second-button,
.content__three-button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: rgb(177, 177, 177);

    &:hover {
        border: 1px solid #02897A;
    }

    &:active {
        background: rgba(2, 137, 122, 1);
    }
}

.button--active {
    background: rgba(2, 137, 122, 1);
}

.button--active1 {
    background: rgba(2, 137, 122, 1);
}

.content__item {
    border: 1px solid #8c959b;
    border-radius: 8px;
    overflow: hidden;
}

.content__item--active {
    border: 1px solid #02897a;
    box-shadow: 2px 2px 15px #8c959b;
}

.content__item-text--active {
    color: #02897a;
}

.content__item-text {
    width: 294px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    margin-left: 24px;
    margin-bottom: 40px;
    margin-top: 12px;
}

.content__item-small-text {
    margin-left: 24px;
    margin-top: 24px;
}

@media only screen and(max-width:1100px) {
    .content__item {
        margin-bottom: 25px;
        width: 327px;
    }

    .content__title {
        text-align: center;
    }

    .content__text {
        text-align: center;
    }

    .content__item-img {
        width: 327px;
    }

    @media only screen and(max-width:1050px) {
        .content__item {
            width: 280px;
        }

        .content__item-img {
            width: 280px;
        }
        .content__item-text{
            width: 230px;
        }
    }
    @media only screen and(max-width:900px){
        .content__list{
            flex-direction: column;
            width: 327px;
            margin: 0 auto;
        }
        .content__item,
        .content__item-img{
            width: 327px;
        }
        .content__item-text{
            width: 275px;
        }
        .content__buttons {
            flex-direction: column;
            width: 16px;
            height: 70px;
            margin: 0 auto;
            margin-top: 70px;
            margin-bottom: 70px;
        }
    }
    @media only screen and(max-width:400px) {
        .content__list {
            width: 250px;
        }

        .content__item {
            width: 250px;
        }

        .content__item-small-text {
            margin-left: 20px;
        }

        .content__item-text {
            width: 232px;
            font-size: 18px;
            line-height: 30px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 40px;
            margin-top: 9px;
            padding: 0;
        }

        .content__item-img {
            width: 250px;
        }
    }
}