.enterprise {
    text-align: center;
    margin: 150px 0;
    background: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
    padding: 53px 0 62px;
}

.enterprise__container {
    text-align: center;
}

.enterprise__title {
    @include list;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    color: #22343D;
    margin-bottom: 16px;
}

.enterprise__desc {
    @include list;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    margin-bottom: 8px;
}

.enterprise__desc-sml {
    @include list;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #22343D;
    margin-bottom: 32px;
}

.enterprise__link {
    border: 1px solid transparent;
    transition: 0.3s ease all;
    border-radius: 8px;
   &:hover {
        background-color: $snow;
        border: 1px solid $link-color;
        color: #22343D;
   } 
}

