@keyframes text-open {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.faqs__title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    margin: 0;
    margin-bottom: 8px;
}

.faqs__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

.faqs__list {
    @include reset-list;
    flex-direction: column;
    width: 920px;
    margin: 0 auto;
}

.faqs__item {
    border-bottom: 1px solid #E7E7E7;
    width: 920px;
}

.faqs__button {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    padding-left: 40px;
    position: relative;

    &::after {
        width: 24px;
        height: 24px;
        content: '';
        position: absolute;
        background: url(/img/plus_circle.svg) no-repeat center center;
        left: 0px;
        top: 20%;
    }
}

.faqs__button--active {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    padding-left: 40px;
    position: relative;

    &::after {
        width: 24px;
        height: 24px;
        content: '';
        position: absolute;
        background: url(/img/minus_circle.svg) no-repeat center center;
        left: 0px;
    }
}

.faqs__item-text {
    display: none;
}

.faqs__item-text--active {
    display: block;
    animation: text-open 0.2s ease;
}

@media only screen and (max-width:950px) {

    .faqs__list,
    .faqs__item {
        width: 850px;
    }
}

@media only screen and (max-width:880px) {

    .faqs__list,
    .faqs__item {
        width: 760px;
    }
}

@media only screen and (max-width:830px) {

    .faqs__list,
    .faqs__item {
        width: 700px;
    }
}

@media only screen and (max-width:780px) {

    .faqs__list,
    .faqs__item {
        width: 550px;
    }

    .faqs__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 45px;
    }
}

@media only screen and (max-width:650px) {

    .faqs__list,
    .faqs__item {
        width: 450px;
    }
}

@media only screen and (max-width:480px) {

    .faqs__list,
    .faqs__item {
        width: 350px;
    }

    .faqs__button {
        text-align: left;
    }
}

@media only screen and (max-width:380px) {

    .faqs__list,
    .faqs__item {
        width: 280px;
    }
}

@media only screen and (max-width:320px) {

    .faqs__list,
    .faqs__item {
        width: 260px;
    }
}
