.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    display: flex;
    align-items: center;
    width: 165px;
    justify-content: space-between;
}

.header__logo-text {
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
}

.header__white-btn {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

.header__hamburger--opened {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    display: none;
}

.header__hamburger--closed {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    display: none;
}