.intro {
    max-width: 1106px;
    margin: 0 auto;
}

.intro__contact {
    max-width: 518px;
}

.intro__contact-heading {
    @include list;
    font-weight: 700;
    font-family: 'Poppins';
    line-height: 60px;
    font-size: 40px;
    margin-bottom: 18px;
}

.intro__contact-desc {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    color: $lightblack;
    max-width: 458px;
}

.intro__contact-links {
    display: flex;
    align-items: baseline;
    max-width: 360px;
}

.intro__contact-linker {
    position: relative;
    color: $licolor2;


    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    padding-left: 26px;

    &::before {
        position: absolute;
        background: url(../img/arrow.svg) no-repeat;
        width: 17px;
        height: 20px;
        left: 0;
        top: 3px;
        display: block;
        content: ('');
    }
}

.intro__contact-link {
    margin-right: 30px;
}

.intro__container {
    display: flex;
    align-items: center;
    padding-top: 105px;
    justify-content: space-between;
}

.intro__container-imeger {
    max-width: 600px;
    height: 600px;
    display: block;
}

@media only screen and(max-width: 998px) {
    .intro__container-imeger {
        max-width: 500px;
        height: 500px;
    }


}
@media only screen and(max-width: 897px) {
    .intro__contact-link {
        margin-right: 10px;
    }

}



@media only screen and(max-width: 889px) {
    .intro__container-imeger {
        max-width: 400px;
        height: 400px;
    }

    .intro__contact-heading {
        font-size: 37px;
    }
}

@media only screen and(max-width: 887px) {

    .intro__contact-desc {
        margin: 0 auto;
        margin-bottom: 45px;
    }
    .intro__contact-link {
        margin-right: 10px;
    }

    .intro__contact-heading {
        font-size: 36px;
    }
}

@media only screen and(max-width: 789px) {
    .intro__container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .intro__contact-links {
        margin: 0 auto;
    }

    .intro__contact-link {
        margin-right: 30px;
    }
}

@media only screen and(max-width: 398px) {
    .intro__container-imeger {
        max-width: 338px;
        height: 320px;
    }
    .intro__contact-links {
        flex-direction: column;
        text-align: center;
    }

    .intro__contact-link {
        margin-right: 0;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .intro__contact-linker {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and(max-width: 368px) {
    .intro__contact-heading {
        font-size: 30px;
    }

    .intro__container-imeger {
        max-width: 315px;
        height: 320px;
    }
}
