@keyframes nav-open{
    0%{
        transform: translateX(100%);
    }
    100%{
     transform: translateX(0);
    }
}
.nav {
    width: 379px;
    margin-left: 237px;
}

.nav__list {
    display: flex;
    @include reset-list;
}

.nav__item {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;

}

.nav__item-link {
    color: #263e49;

    &:hover {
        color: black;
    }
}

.nav__item-link--white {
    color: rgb(196, 207, 218);

    &:hover {
        color: white;
    }
}

.nav__item-link-one {
    color: rgb(38, 62, 73);

    &:hover {
        color: black;
    }
}

.nav__item-link--white-one {
    color: rgb(196, 207, 218);

    &:hover {
        color: white;
    }
}

.nav__item-link-two {
    color: rgb(38, 62, 73);

    &:hover {
        color: black;
    }
}

.nav__item-link--white-two {
    color: rgb(196, 207, 218);

    &:hover {
        color: white;
    }
}

.nav__item-link-three {
    color: rgb(38, 62, 73);

    &:hover {
        color: black;
    }
}

.nav__item-link--white-three {
    color: rgb(196, 207, 218);

    &:hover {
        color: white;
    }
}

@media only screen and(max-width:1120px) {
    .nav {
        margin-left: 100px;
    }
}

@media only screen and(max-width:965px) {
    .nav {
        width: 280px;
    }

    .nav {
        margin-left: 30px;
    }

    .nav__item {
        font-size: 13px;
    }
}

@media only screen and(max-width:$mobile) {
    .nav {
        display: none;
    }

    .nav--active {
        position: absolute;
        display: block;
        top: 78px;
        left: -30px;
        bottom: 0px;
        right: 0;
        width: 100%;
        z-index: 99;
        height: 100vh;
        &::before{
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom:0;
            content: '';
            background-color: black;
            opacity: 0.6;
            position: absolute;
        }
    }

    .nav__list--active {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 300px;
        background: #02897A;
        height: 100%;
        z-index: 99;
        padding-top: 70px;
        padding-bottom: 330px;
        animation: nav-open 0.3s ease;
        right: 0;
    }
    .nav__item-link{
        color: white;
        font-size: 16px;
        text-align: left;
    }

}