.navbar {
    display: flex;
    width: 264px;
    justify-content: space-between;
    align-items: center;
}

.navbar__in-btn {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 10px 25px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
}

.navbar__up-btn {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 10px 25px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    background: #02897A;
    color: white;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
}
.navbar__in-btn--black{
    color: white;
}
.navbar__white-btn{
    background-image: none;
}
@media only screen and(max-width:965px){
    .navbar{
        width: 164px;
        
    }
    .navbar__in-btn ,.navbar__up-btn{
        padding: 6px 5px;
        font-size: 14px;
        font-weight: 500;
    }
}
@media only screen and(max-width:$mobile){
    .navbar{
      display: none;
    }
}