@keyframes nav-open{
    0%{
        transform: translateX(100%);
    }
    100%{
     transform: translateX(0);
    }
}
.navbar {
    display: flex;
    width: 264px;
    justify-content: space-between;
    align-items: center;
}

.navbar__in-btn {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 10px 25px;
    border: 1px solid #02897A;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: var(--text);
    &:hover {
        background-color: #02897A;
        color: white;
    }
}

.navbar__up-btn {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 10px 25px;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    background: #02897A;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: var(--text);
        border: 1px solid #02897A;
    }
}

.navbar__white-btn {
    background: url(/img/black-white.svg) no-repeat center center;
    width: 32px;
    height: 32px;
}


@media only screen and(max-width:965px) {
    .navbar {
        width: 164px;

    }

    .navbar__in-btn,
    .navbar__up-btn {
        padding: 6px 5px;
        font-size: 14px;
        font-weight: 500;
    }
}

@media only screen and(max-width:$mobile) {
    .navbar{
        display:none;
    }
    .navbar--active {
        display: flex;
        flex-direction: column;
        width: 300px;
        position: absolute;
        top: 350px;     
        right: 0;
        z-index: 99;
        animation: nav-open 0.3s ease;
        background-color: #02897A;
        height: 52vh;
    }
    .navbar__in-btn{
        background-color: var(--body-bg);
        margin-bottom: 10px;
        width: 70px;
    }
    .navbar__up-btn{
        width: 70px;
        margin-bottom: 10px;
        &:hover{
            background-color: var(--body-bg);
        }
    }
}
@media only screen and (max-width:350px){
    .navbar--active{
       right: 0;
        top: 300px;
        width: 250px;
        height: 45vh;
    }
}