.product-prising {
    padding: 150px 15px 149px;
}
.product-prising__title {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
}

.product-prising__container {
    display: flex;
    margin-top: 56px;
    justify-content: space-between;

    &:before {
        width: 528px;
        height: 399px;
        background: no-repeat url(../img/product-prising.png);
        content: ('');
    }
}

.product-prising__list {
    @include list;
    margin-left: auto;
    max-width: 533px;
}

.product-prising__item {
    @include list;
    position: relative;
}


.product-prising__item-span {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #F4F5F7;
    display: block;
    border-radius: 50%;
    top: 0;

    background-position: center center;
    background-repeat: no-repeat;

    &-arrow {
        background-image: url(../img/pro-prising1.svg);
    }

    &-row {
        background-image: url(../img/pro-prising2.svg);
    }

    &-column {
        background-image: url(../img/pro-prising.svg);
    }
}

.product-prising__item-heading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    text-align: center;
    color: #22343D;
    margin-left: 65px;
    padding-top: 9px;
    margin-bottom: 23px;
}

.product-prising__item-desc {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    color: #22343D;
}

@media only screen and(max-width: 1137px)  {
    .product-prising__container {
        flex-direction: column;
        
        &:before {
            width: 352px;
            height: 289px;
            margin-left: auto;
            margin-right: auto;
            background: no-repeat url(../img/product-priseing23.png) center center;
            display: block;
            content: ('');
        }
    }

    .product-prising__list {
        @include list;
        margin-left: auto;
        margin-right: auto;
    }
}