.product {
    overflow: hidden;
    position: relative;
    margin-bottom: 169px;
    &::after {
        z-index: -1;
        position: absolute;
        background: url(/img/round.png) no-repeat;
        width: 100%;
        height: 389px;
        top: 305px;
        margin-left: 56px;
        content: ('');
    }
}
.product__list {
    @include reset-list;
    align-items: baseline;
}

.product__item {
    @include list;
    margin-top: 57px;
    max-width: 240px;

    &:last-child {
        margin-right: 0;
    }
}

.product__heading {
    max-width: 539px;
    margin: 0 auto;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    
    color: $lightblack;
}

.product__container {
    padding: 114px 15px 90px;
}

.product__item-heading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 13px;
    color: $lightblack;
}

.product__item-desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $lightblack;
}

.product__item-span {
    @include list;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    margin-bottom: 30px;


    display: block;
    background-repeat: no-repeat;
    background-position: center center;

    &-arrow {
        background-color: #02897A;
        background-image: url(../img/firstArrow.svg);
    }

    &-wave {
        background-color: #4D8DFF;
        background-image: url(../img/3.svg);
    }

    &-heart {
        background-color: #740A76;
        background-image: url(../img/2.svg);
    }

    &-oclock {
        background-color: #F03E3D;
        background-image: url(../img/4.svg);
    }
}
 
.product__button {
    max-width: 185px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s ease all;
    margin-top: 60px;
    border: 1px solid transparent;
    &:hover {
        color: #000;
        background-color: $snow;
        border: 1px solid #BCD0E5;
    }
}

@media screen and(max-width: 1400px) {
    
    .product {
        &::after {
            left: -60px;
        }
    }
}

@media screen and(max-width: 1026px) {
    .product__list {
        flex-direction: column;
        align-items: center;
    }

    .product__item {
        margin: 0 auto;
<<<<<<< HEAD
        margin-top: 57px;
        text-align: center;
        &:last-child {
            margin: 0 auto;
            margin-top: 57px;
=======
        margin-top: 50px;
        &:last-child {
            margin: 0 auto;
            margin-top: 50px;
>>>>>>> validation
        }
    }
    .product {
        &::after {
            left: -300px;
            width: 1208px;
            top: 1000px;
        }
    }

    .product__item-span {
        margin: 0 auto;
    }
}

@media screen and(max-width: 900px) {
    
    .product {
        &::after {
            top: 1000px;
        }
    }
}

@media screen and(max-width: 819px) {
    
    .product {
        &::after {
            top: 1440px;
        }
    }
}

@media screen and(max-width: 819px) {
    
    .product {
        &::after {
            left: -400px;
            width: 1208px;
            top: 1020px;
        }
    }
}

@media screen and(max-width: 587px) {
    
    .product {
        &::after {
            left: -500px;
            width: 1208px;
            top: 1020px;
        }
    }
}

@media screen and(max-width: 320px) {
    
    .product {
        &::after {
            left: -600px;
            width: 1208px;
            top: 1040px;
        }
    }
}

