.validation__list {
    @include list;
    padding-bottom: 168px;
}

.validation__item  {
    @include list;
    margin-bottom: 187px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(2n) {
        flex-direction: row-reverse;
    }
}

.validation__item--documents {
    &::after {
        background: url(../img/document.png) no-repeat;
        width: 542px;
        height: 500px;
        display: block;
        content: ('');
    }
}

.validation__item-wrapper {
    @include list;
    max-width: 486px;
}

.validation__item--computer {
    &::after {
        background: url(../img/computer.png) no-repeat;
        width: 543px;
        height: 500px;
        display: block;
        content: ('');
    }
}

.validation__item--folders {
    &::after {
        background: url(../img/folder.png) no-repeat;
        width: 543px;
        height: 500px;
        display: block;
        content: ('');
    }
}

.validation__item-desc {
    @include list;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.validation__item-heading {
    @include list;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.validation__item-heading--mb {
    @include list;
    margin-bottom: 23px;
}

.validation__item-heading--mbottom {
    @include list;
    margin-bottom: 131px;
}

.validation__item-head {
    @include list;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
}

.validation__item-describe {
    @include list;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}

.validation__item-ticks {
    @include list;
    display: flex; 
    max-width: 100%;
    position: relative;
}

.product__item-described {
    @include list;
    max-width: 365px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-left: 65px;
}

.product__item-span-orange  {
    position: absolute;
    top: 10%;
    width: 35px;
    height: 35px;
    display: block;
    background-color: #FF9900;
    border-radius: 14px;
}

.product__item-span-red {
    position: absolute;
    top: 10%;
    width: 35px;
    height: 35px;
    display: block;
    background-color: #F03E3D;
    border-radius: 14px;
}

.product__item-span-blue {
    position: absolute;
    top: 10%;
    width: 35px;
    height: 35px;
    display: block;
    background-color: #4D8DFF;
    border-radius: 14px;
}


.product__item-span--orange {
    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.product__item-span--red {
    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.product__item-span--blue {
    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.validation__item-describe--space {
    margin-bottom: 30px;
}

.validation__item-describetions {
    margin-bottom: 25px;
}

@media only screen and(max-width: 1070px) {
    .validation__item {
        flex-direction: column-reverse;
        justify-content: space-between;
        
        &:nth-child(2n) {
            flex-direction: column-reverse;
        }

        &::after {
            margin-bottom: 50px;
        }
    }
}

@media only screen and(max-width: 1070px) {
    .validation__item--documents {
        &::after {
            background: url(../img/document-sml.png) no-repeat;
            width: 349px;
            height: 307px;    
            display: block;
            content: ('');
        }
    }

    .validation__item--folders {
        &::after {
            background: url(../img/folder-sml.png) no-repeat;
            width: 350px;
            height: 292px;
            display: block;
            content: ('');
        }
    }

    .validation__item--computer {
        &::after {
            background: url(../img/computer-sml.png) no-repeat;
            width: 350px;
            height: 320px;    
            display: block;
            content: ('');
        }
    }
}